{% extends "layout.html" %}

{% block content %}
<h1>Calcular</h1>
<form action="/resultado" method="POST">
    <label>Número 1:</label>
    <input type="text" name="n1"><br>
    <label>Número 2:</label>
    <input type="text" name="n2"><br>
    
    <label>Operación:</label>
    <input type="radio" name="operacion" value="suma"> Suma <br>
    <input type="radio" name="operacion" value="resta"> Resta <br>
    <input type="radio" name="operacion" value="multiplicacion"> Multiplicación <br>
    <input type="radio" name="operacion" value="division"> División<br> 
    <div><br><br></div>
    <input type="submit"/>
</form>

{% endblock %}
